<h1>管理者ページTOP</h1>

<nav class="submenubar">
  <ul>
    <%= menu_link_to "会員一覧", "#" %>
    <%= menu_link_to "注文一覧", "#"  %>
    <%= menu_link_to "在庫管理", "#"  %>
    <%= menu_link_to "クーポン", "#"  %>
    <%= menu_link_to "商品管理", "#"  %>
  </ul>
</nav>

<br>

