<% @page_title = "会員管理" %>
<h1><%= @page_title %></h1>

<%= form_tag :search_admin_customers, method: :get, class: "search" do %>
  <%= text_field_tag "q", params[:q] %>
  <%= submit_tag "検索" %>
    <% end %>
<div class="toolbar"><%= link_to "会員の新規登録", :new_admin_customer %></div>

<% if @customers.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>氏名</th>
        <th>メール</th>
        <th>tel</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |member| %>
        <tr>
          <td><%= member.name %></td>
          <td><%= member.fullname %></td>
          <td><%= member.mail %></td>
          <td><%= member.tel %></td>
         <td>
         <%= link_to "削除", [:admin, member], method: :delete,
         data: { confirm: "本当に削除しますか?"} %>
      </td>
      <% end %>
    </tbody>
  </table>
  <%= paginate @customers %>
<% else %>
  <p>会員情報がありません。</p>
<% end %>