<%= image_tag "logo.png", size: "272x96", alt: "Pizzad" %>

<nav class="menubar">
  <ul>
    <%= menu_link_to "TOP", :root %>
    <%= menu_link_to "商品", "#" %>
    <%= menu_link_to "マイページ", "#" %>
    <%= menu_link_to "管理ページ", "#" %>
  </ul>
</nav>
