<% @page_title = "ε•†ε“η®΅η†" %>
<h1><%= @page_title %></h1>

<%= form_tag :search_admin_products, method: :get, class: "search" do %>
  <%= text_field_tag "q", params[:q] %>
  <%= submit_tag "ζ¤η΄Ά" %>
    <% end %>
<div class="toolbar"><%= link_to "ε•†ε“γ®ζ–°θ¦η™»ι²", :new_admin_product %></div>

<% if @products.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>εε‰</th>
        <th>η¨®ι΅</th>
        <th>ε€¤ζ®µ</th>
        <th>ε…¬ι–‹</th>
        <th>ε­δΎ›</th>
        <th>γγ™γ™γ‚</th>
        <th>ζ“δ½</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.kinds %></td>
          <td><%= product.price %></td>
          <td><%= product.published %></td>
          <td><%= product.kids %></td>
          <td><%= product.recommend %></td>
         <td>
         <%= link_to "η·¨ι›†", [:edit, :admin, product] %> |
          <% if product.stocks.empty? %>  <!-- ι–Άι€£δ»γ‘γ®ifζ–‡γ―γ“γ†ζ›Έγ -->
         <%= link_to "ε‰ι™¤", [:admin, product], method: :delete,
         data: { confirm: "ζ¬ε½“γ«ε‰ι™¤γ—γΎγ™γ‹?"} %>
          <% else %>    
         <span class="disabled">βlink</span>
          <% end %>
      </td>
      <% end %>
    </tbody>
  </table>
  <%= paginate @products %>
<% else %>
  <p>ε•†ε“γγ‚γ‚γΎγ›γ‚“γ€‚</p>
<% end %>

<p> [π’΅tips]ε•†ε“γ‚’ε‰ι™¤γ™γ‚‹ε ΄εγ―η·¨ι›†γ§γ€ζζ–™γ€γ®γƒγ‚§γƒƒγ‚―γ‚’ε¤–γ™<br>
γ€€γ€€γ€€  ιθ΅¨η¤Ίγ―η·¨ι›†γ‚Ώγƒ–γ‹γ‚‰θ΅γγΎγ™ </p>