<% @page_title = "クーポン管理" %>
<h1><%= @page_title %></h1>

<%= form_tag :search_admin_coupons, method: :get, class: "search" do %>
  <%= text_field_tag "q", params[:q] %>
  <%= submit_tag "検索" %>
    <% end %>
<div class="toolbar"><%= link_to "クーポンの新規登録", :new_admin_coupon %></div>

<% if @coupons.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>名前</th>
        <th>割引率</th>
        <th>所有者</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @coupons.each do |coupon| %>
        <tr>
          <td><%= coupon.name %></td>
          <td><%= coupon.discount %></td>
          <td><%= coupon.customer.name %></td>
         <td>
         <%= link_to "編集", [:edit, :admin, coupon] %> |
         <%= link_to "削除", [:admin, coupon], method: :delete,
         data: { confirm: "本当に削除しますか?"} %>
      </td>
      <% end %>
    </tbody>
  </table>
  <%= paginate @coupons %>
<% else %>
  <p>クーポンがありません。</p>
<% end %>